# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
.serverless/
.vscode/

# environment variables files
set_env.sh

# www files
www/
